#AutoSwitch Configuration File
#See https://github.com/dexman545/Fabric-Autoswitch/wiki/Configuration for more details
#Mon Feb 03 16:48:59 EST 2020
toolPriorityOrder=shears > swords > fortPicks > silkPicks > picks > silkAxes > fortAxes > axes > silkShovels > shovels > banes > smites > sharps > tridents > impalingTridents
displayToggleMsg=true
switchForBlocks=true
toggleMsgOverHotbar=true
disableHandSwingWhenMowing=true
switchbackBlocks=true
switchInMP=true
switchForMobs=true
tryPreserveDamagedTools=true
switchbackMobs=true
switchbackWaitsForCooldownWhenAttackingMobs=true
switchInCreative=false
controlMowingWhenFighting=true
